---
---
<footer>
  <div class="footer-inner">
    <div>
      <div class="footer-brand">MONTAVILLA <span>LAND TRUST</span></div>
      <p style="margin-top:0.4rem;">
        montavillalandtrust.org<br>
        <a href="mailto:info@montavillalandtrust.org">info@montavillalandtrust.org</a>
      </p>
    </div>
    <div style="text-align:right;">
      <div class="footer-hash">#MontavillaLandTrust</div>
      <p style="margin-top:0.4rem;">
        Montavilla, Portland OR 97215<br>
        <a href="#petition">Become a Founding Member →</a>
      </p>
    </div>
  </div>
</footer>
