---
---
<nav>
  <a href="#" class="nav-logo">MONTAVILLA<span>&nbsp;LAND TRUST</span></a>
  <div class="nav-links">
    <a href="#situation">The Situation</a>
    <a href="#building">Our Vision</a>
    <a href="#roadmap">Roadmap</a>
    <a href="#petition">Sign &amp; Join</a>
    <a href="#petition" class="nav-cta">Become a Founder</a>
  </div>
</nav>
